




@keyframes example {
    0% {background-color: cyan;}
    33% {background-color: blue;}
    66% {background-color: cyan;}
}



 h1{ 
    text-center
    color: red;
    margin: 25px;
    border-width: 35px;
    border-style: ridge;
    border-color: blue;
    width: auto;
    height: auto;
    border-radius: 60% 10% 60% 10%;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  text-align: center;
   background-size:auto
  }
 
    
body{
background-image: url("https://raw.githubusercontent.com/rglindberg/Tribute-page/master/assets/images/19985604_1699797223380996_4539888776717008896_n.jpg");
 
 }
button{
  text-size: 20px;
  margin: auto;
  background-color:gold;
